data/
data/*
**data/
**data/*

./data/*
./data/
**./data/
**./data/*

data/**/*

data/cifar-10-batches-py/
data/cifar-10-batches-py/*
./data/cifar-10-batches-py/*
./data/cifar-10-batches-py/
**./data/cifar-10-batches-py/
**./data/cifar-10-batches-py/*

*.amltmp
.ipynb_aml_checkpoints/
__pycache__/

.tmp*
./checkpoints
./checkpoints/*
./checkpoints/**
checkpoints/
checkpoints/
checkpoints/
